/* #0d60d8 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  padding: 50px 15px;
  background-color: #062863;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.card {
  background-color: white;
  padding: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card .header-text {
  text-align: center;
  font-size: 1.5rem;
  color: #083e9e;
  margin-bottom: 8px;
  font-weight: bold;
}
.card .sub-header {
  text-align: center;
  font-size: 0.86em;
  color: #4a5568;
}
form {
  margin: 50px auto 0px;
}

form .form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

form .form-input label {
  color: #4a5568;
  font-weight: 700;
  margin-bottom: 10px;
}

form .form-input input {
  border: 0;
  background-color: #edf2f7;
  height: 50px;
  width: 370px;
  padding: 1rem;
  border-radius: 0.25rem;

  font-size: 16px;
  font-weight: 200;
}
form .form-input input:focus {
  outline: 0px;
  border: none;
  border: transparent;
  outline: solid transparent;
}

form button {
  height: 50px;
  width: 100%;
  border: none;
  background: #0d60d8;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

form button:hover {
  background-color: #0f51b1;
}

.links {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8em;
  cursor: pointer;
}

.links:hover {
  opacity: 0.6;
}
